<%= form_for(@msrplanner) do |f| %>
  <% if @msrplanner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@msrplanner.errors.count, "error") %> prohibited this msrplanner from being saved:</h2>

      <ul>
      <% @msrplanner.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :doctor, 'Doctor name'
 %><br />
    <%= f.collection_select :doctor_id, Doctor.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :doctor ,'Doctor type' %><br />
    <%= f.collection_select :doctor_id, Doctor.all, :id, :doctor_type %>
  </div>
  <div class="field">
    <%= f.label :tft %><br />
    <%= f.text_field :tft %>
  </div>
  <div class="field">
    <%= f.label :tfs %><br />
    <%= f.text_field :tfs %>
  </div>
  <div class="field">
    <%= f.label :ofs %><br />
    <%= f.text_field :ofs %>
  </div>
  <div class="field">
    <%= f.label :ofc %><br />
    <%= f.text_field :ofc %>
  </div>
  <div class="field">
    <%= f.label :lac %><br />
    <%= f.text_field :lac %>
  </div>
  <div class="field">
    <%= f.label :lacg %><br />
    <%= f.text_field :lacg %>
  </div>
  <div class="field">
    <%= f.label :vrx %><br />
    <%= f.text_field :vrx %>
  </div>
  <div class="field">
    <%= f.label :utr %><br />
    <%= f.text_field :utr %>
  </div>
  <div class="field">
    <%= f.label :lux %><br />
    <%= f.text_field :lux %>
  </div>
  <div class="field">
    <%= f.label :mus %><br />
    <%= f.text_field :mus %>
  </div>
  <div class="field">
    <%= f.label :nurxl %><br />
    <%= f.text_field :nurxl %>
  </div>
  <div class="field">
    <%= f.label :cof %><br />
    <%= f.text_field :cof %>
  </div>
  <div class="field">
    <%= f.label :ele %><br />
    <%= f.text_field :ele %>
  </div>
  <div class="field">
    <%= f.label :eld %><br />
    <%= f.text_field :eld %>
  </div>
  <div class="field">
    <%= f.label :input_open %><br />
    <%= f.text_field :input_open %>
  </div>
  <div class="field">
    <%= f.label :input_receive %><br />
    <%= f.text_field :input_receive %>
  </div>
  <div class="field">
    <%= f.label :input_available %><br />
    <%= f.text_field :input_available %>
  </div>
  <div class="field">
    <%= f.label :input_utilize %><br />
    <%= f.text_field :input_utilize %>
  </div>
  <div class="field">
    <%= f.label :input_closing %><br />
    <%= f.text_field :input_closing %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
