<p id="notice"><%= notice %></p>

<p>
  <b>Doctor:</b>
  <%= @msrplanner.doctor %>
</p>

<p>
  <b>Doctor:</b>
  <%= @msrplanner.doctor %>
</p>

<p>
  <b>Tft:</b>
  <%= @msrplanner.tft %>
</p>

<p>
  <b>Tfs:</b>
  <%= @msrplanner.tfs %>
</p>

<p>
  <b>Ofs:</b>
  <%= @msrplanner.ofs %>
</p>

<p>
  <b>Ofc:</b>
  <%= @msrplanner.ofc %>
</p>

<p>
  <b>Lac:</b>
  <%= @msrplanner.lac %>
</p>

<p>
  <b>Lacg:</b>
  <%= @msrplanner.lacg %>
</p>

<p>
  <b>Vrx:</b>
  <%= @msrplanner.vrx %>
</p>

<p>
  <b>Utr:</b>
  <%= @msrplanner.utr %>
</p>

<p>
  <b>Lux:</b>
  <%= @msrplanner.lux %>
</p>

<p>
  <b>Mus:</b>
  <%= @msrplanner.mus %>
</p>

<p>
  <b>Nurxl:</b>
  <%= @msrplanner.nurxl %>
</p>

<p>
  <b>Cof:</b>
  <%= @msrplanner.cof %>
</p>

<p>
  <b>Ele:</b>
  <%= @msrplanner.ele %>
</p>

<p>
  <b>Eld:</b>
  <%= @msrplanner.eld %>
</p>

<p>
  <b>Input open:</b>
  <%= @msrplanner.input_open %>
</p>

<p>
  <b>Input receive:</b>
  <%= @msrplanner.input_receive %>
</p>

<p>
  <b>Input available:</b>
  <%= @msrplanner.input_available %>
</p>

<p>
  <b>Input utilize:</b>
  <%= @msrplanner.input_utilize %>
</p>

<p>
  <b>Input closing:</b>
  <%= @msrplanner.input_closing %>
</p>


<%= link_to 'Edit', edit_msrplanner_path(@msrplanner) %> |
<%= link_to 'Back', msrplanners_path %>
