<p id="notice"><%= notice %></p>

<p>
  <b>Head quators name:</b>
  <%= @personaldata.head_quators_name %>
</p>

<p>
  <b>Head quators address:</b>
  <%= @personaldata.head_quators_address %>
</p>

<p>
  <b>Land line:</b>
  <%= @personaldata.land_line %>
</p>

<p>
  <b>Mobile no:</b>
  <%= @personaldata.mobile_no %>
</p>

<p>
  <b>Name of am:</b>
  <%= @personaldata.name_of_am %>
</p>

<p>
  <b>Mail:</b>
  <%= @personaldata.mail %>
</p>

<p>
  <b>Am land line:</b>
  <%= @personaldata.am_land_line %>
</p>

<p>
  <b>Am mobile no:</b>
  <%= @personaldata.am_mobile_no %>
</p>

<p>
  <b>Name of dm:</b>
  <%= @personaldata.name_of_dm %>
</p>

<p>
  <b>Dm email:</b>
  <%= @personaldata.dm_email %>
</p>

<p>
  <b>Dm land line:</b>
  <%= @personaldata.dm_land_line %>
</p>

<p>
  <b>Dm mobile no:</b>
  <%= @personaldata.dm_mobile_no %>
</p>


<%= link_to 'Edit', edit_personaldata_path(@personaldata) %> |
<%= link_to 'Back', personaldatas_path %>
