<p id="notice"><%= notice %></p>

<p>
  <b>Town:</b>
  <%= @admin_classifydoctor.town %>
</p>

<p>
  <b>Ophthalmologist:</b>
  <%= @admin_classifydoctor.ophthalmologist %>
</p>

<p>
  <b>Physiologists:</b>
  <%= @admin_classifydoctor.physiologists %>
</p>

<p>
  <b>Neurosurgeons:</b>
  <%= @admin_classifydoctor.neurosurgeons %>
</p>

<p>
  <b>Cardiologist:</b>
  <%= @admin_classifydoctor.cardiologist %>
</p>

<p>
  <b>Allopathy:</b>
  <%= @admin_classifydoctor.allopathy %>
</p>

<p>
  <b>Pediatrician:</b>
  <%= @admin_classifydoctor.pediatrician %>
</p>

<p>
  <b>Urologists:</b>
  <%= @admin_classifydoctor.urologists %>
</p>

<p>
  <b>Surgeons:</b>
  <%= @admin_classifydoctor.surgeons %>
</p>

<p>
  <b>Other:</b>
  <%= @admin_classifydoctor.other %>
</p>

<p>
  <b>Total:</b>
  <%= @admin_classifydoctor.total %>
</p>


<%= link_to 'Edit', edit_admin_classifydoctor_path(@admin_classifydoctor) %> |
<%= link_to 'Back', admin_classifydoctors_path %>
