<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @doctor.name %>
</p>

<p>
  <b>Doctor type:</b>
  <%= @doctor.doctor_type %>
</p>

<p>
  <b>Address:</b>
  <%= @doctor.address %>
</p>

<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
