<%= form_for(@standared_visit) do |f| %>
  <% if @standared_visit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@standared_visit.errors.count, "error") %> prohibited this standared_visit from being saved:</h2>

      <ul>
      <% @standared_visit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :doctor, 'Doctor Name' %><br />
    <%= f.collection_select :doctor_id, Doctor.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :doctor, 'Doctor Address' %><br />
    <%= f.collection_select :doctor_id, Doctor.all, :id, :address %>
  </div>
  <div class="field">
    <%= f.label :doctor, 'Doctor Type' %><br />
    <%= f.collection_select :doctor_id, Doctor.all, :id, :doctor_type %>
  </div>
  <div class="field">
    <%= f.label :call, 'Type of Call' %><br />
    <%= f.collection_select :call_id, Call.all, :id, :type_of_call %>
  </div>
  <div class="field">
    <%= f.label :product,'Product 1 ' %><br />
    <%= f.collection_select :product_id, Product.all, :id, :pname %>
  </div>
  <div class="field">
    <%= f.label :product,'Product 2' %><br />
    <%= f.collection_select :product_id, Product.all, :id, :pname %>
  </div>
  <div class="field">
    <%= f.label :product,'Product 3' %><br />
    <%= f.collection_select :product_id, Product.all, :id, :pname %>
  </div>
  <div class="field">
    <%= f.label :month %><br />
    <%= f.collection_select :month_id, Month.all, :id, :month %>
  </div>
  <div class="field">
    <%= f.label :amc %><br />
    <%= f.text_field :amc %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
