<h1>Listing towns</h1>

<table>
  <tr>
    <th>Town</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @towns.each do |town| %>
  <tr>
    <td><%= town.town %></td>
    <td><%= link_to 'Show', town %></td>
    <td><%= link_to 'Edit', edit_town_path(town) %></td>
    <td><%= link_to 'Destroy', town, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Town', new_town_path %>
