<ul>

	<li style="float: right;"><%= tab_to "Settings", [{:controller => "admin/settings"}] %></li>

	
	<li><%= tab_to "Dashboard", [{:controller => "admin/dashboard"}] %></li>
	<li><%= tab_to "Users", [{:controller => "admin/users"}] %></li>
	<li><%= tab_to "Announcements", [{:controller => "admin/announcements" }] %></li>
	<li><%= tab_to "company", [{:controller => "admin/companies" }] %></li>
	<li><%= tab_to "Town", [{:controller => "admin/towns" }] %></li>
	<li><%= tab_to "Doctors", [{:controller => "admin/doctors" }] %></li>
	<li><%= tab_to "clasify Doctors", [{:controller => "admin/classifydoctors" }] %></li>
</ul>
